@import url(c:\Users\Alosha\Desktop\from0to1\glee\node_modules\@fancyapps\fancybox\dist\jquery.fancybox.css);
@import url(c:\Users\Alosha\Desktop\from0to1\glee\node_modules\ion-rangeslider\css\ion.rangeSlider.css);
@import url(c:\Users\Alosha\Desktop\from0to1\glee\node_modules\rateyo\src\jquery.rateyo.css);
@import url(c:\Users\Alosha\Desktop\from0to1\glee\node_modules\jquery-form-styler\dist\jquery.formstyler.css);
.user-nav__number {
  font-family: 'Roboto-Regular', sans-serif;
  font-weight: 400;
}

a, .breadcrumps__item, .pagination__link, .pagination__next, .footer-top__item-text {
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}

body {
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}

.footer-top__form-btn, .footer-bottom {
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 400;
}

.footer-top__form-input, .footer-top__form-input::-webkit-input-placeholder {
  font-family: 'DMSans-Medium', sans-serif;
  font-weight: 500;
}

.footer-top__form-input, .footer-top__form-input:-ms-input-placeholder {
  font-family: 'DMSans-Medium', sans-serif;
  font-weight: 500;
}

.footer-top__form-input, .footer-top__form-input::-ms-input-placeholder {
  font-family: 'DMSans-Medium', sans-serif;
  font-weight: 500;
}

.footer-top__form-input, .footer-top__form-input::placeholder {
  font-family: 'DMSans-Medium', sans-serif;
  font-weight: 500;
}

.title, .footer-top__title {
  font-family: 'DMSans-Bold', sans-serif;
  font-weight: 700;
}

@font-face {
  font-family: 'Roboto-Regular', sans-serif;
  font-weight: 400;
  font-style: normal;
  src: local("Roboto-Regular"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
  font-style: normal;
  src: local("Rubik-Regular"), url("../fonts/Rubik-Regular.woff2") format("woff2"), url("../fonts/Rubik-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
  font-style: normal;
  src: local("Rubik-Medium"), url("../fonts/Rubik-Medium.woff2") format("woff2"), url("../fonts/Rubik-Medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-Bold', sans-serif;
  font-weight: 700;
  font-style: normal;
  src: local("Poppins-Bold"), url("../fonts/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 400;
  font-style: normal;
  src: local("DMSans-Regular"), url("../fonts/DMSans-Regular.woff2") format("woff2"), url("../fonts/DMSans-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'DMSans-Medium', sans-serif;
  font-weight: 500;
  font-style: normal;
  src: local("DMSans-Medium"), url("../fonts/DMSans-Medium.woff2") format("woff2"), url("../fonts/DMSans-Medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'DMSans-Bold', sans-serif;
  font-weight: 700;
  font-style: normal;
  src: local("DMSans-Bold"), url("../fonts/DMSans-Bold.woff2") format("woff2"), url("../fonts/DMSans-Bold.woff") format("woff");
  font-display: swap;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

html,
body {
  height: 100%;
}

body {
  font-size: 18px;
  line-height: 30px;
  color: #436372;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.big-container {
  max-width: 1800px;
  padding: 0 15px;
  margin: 0 auto;
}

a {
  font-size: 14px;
  line-height: 24px;
  color: #7b7b7b;
}

.title {
  font-size: 36px;
  line-height: 42px;
  color: #191919;
}

.breadcrumps {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.breadcrumps__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrumps__item {
  color: #737980;
  font-size: 14px;
  padding-right: 18px;
  position: relative;
}

.breadcrumps__item::after {
  content: "/";
  position: absolute;
  right: 6px;
  top: 0;
}

.breadcrumps__item:last-child {
  padding-right: 0;
}

.breadcrumps__item:last-child::after {
  display: none;
}

.breadcrumps__link {
  color: inherit;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 60px;
}

.pagination .pagination__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 15px;
}

.pagination__item + .pagination__item {
  padding-left: 15px;
}

.pagination__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  border: 1px solid #a3bbc8;
  background-color: #fff;
  color: #243f4d;
}

.pagination__link--active {
  background-color: #a3bbc8;
  color: #fff;
}

.pagination__next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 74px;
  color: #243f4d;
  border: 1px solid #a3bbc8;
}

.header {
  padding: 49px 0;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list-item + .menu__list-item {
  padding-left: 31px;
}

.menu__list-link {
  color: inherit;
  cursor: pointer;
  font-size: 15px;
  line-height: 12px;
  padding-bottom: 4px;
  border-bottom: 1px solid transparent;
}

.menu__list-link:hover {
  border-bottom: 1px solid #436372;
}

.user-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-nav__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-nav__image {
  width: 20px;
  height: 20px;
}

.user-nav__inner {
  padding: 0 10px;
  margin: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 51px;
  width: 178px;
  background-color: #fcd7b6;
  border-radius: 25.5px;
  position: relative;
}

.user-nav__inner::after {
  content: "";
  position: absolute;
  top: 9.5px;
  right: 89px;
  width: 1px;
  height: 32px;
  background-color: #ececec;
}

.user-nav__number {
  position: absolute;
  background-color: #fff;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  top: 7px;
  right: -7px;
  text-align: center;
  font-size: 10px;
  line-height: 16px;
  color: #243f4d;
}

.user-nav__link--more, .user-nav__link--search {
  width: 51px;
  height: 51px;
  border-radius: 50%;
}

.user-nav__link--search {
  background-color: #edf1f4;
}

.user-nav__link--more {
  background-color: #a3bbc8;
}

.footer {
  padding-top: 79px;
}

.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 67px;
  border-bottom: 1px solid #dae4e9;
}

.footer-top__item-contacts {
  width: 200px;
  margin-right: 90px;
}

.footer-top__item-navigation {
  width: 130px;
  margin-right: 160px;
}

.footer-top__item-form {
  width: 270px;
}

.footer-top__logo {
  margin-bottom: 26px;
  display: block;
}

.footer-top__adress, .footer-top__phone, .footer-top__email {
  display: block;
  margin-bottom: 8px;
}

.footer-top__title {
  font-size: 16px;
  line-height: 21px;
  color: #1f2044;
  text-transform: uppercase;
  margin: 14px 0 24px 0;
}

.footer-top__list-link {
  display: block;
  margin-bottom: 8px;
}

.footer-top__item-text {
  font-size: 14px;
  line-height: 24px;
  color: #7b7b7b;
  margin-bottom: 37px;
}

.footer-top__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-top__form-input {
  max-width: 170px;
  width: 100%;
  outline-color: #234969;
  font-size: 13px;
  line-height: 24px;
  color: #234969;
  background-color: #fef7f0;
  border: none;
  padding: 13px 15px 14px;
}

.footer-top__form-input::-webkit-input-placeholder {
  color: #234969;
  font-size: 13px;
  line-height: 24px;
}

.footer-top__form-input:-ms-input-placeholder {
  color: #234969;
  font-size: 13px;
  line-height: 24px;
}

.footer-top__form-input::-ms-input-placeholder {
  color: #234969;
  font-size: 13px;
  line-height: 24px;
}

.footer-top__form-input::placeholder {
  color: #234969;
  font-size: 13px;
  line-height: 24px;
}

.footer-top__form-btn {
  border: none;
  outline-color: #234969;
  font-size: 14px;
  line-height: 21px;
  color: #fff;
  background-color: #a3bbc8;
  padding: 0 19px;
  cursor: pointer;
}

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 90px;
  font-size: 14px;
  line-height: 32px;
  color: #7b7b7b;
}

.footer-bottom__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-bottom__link-span {
  padding: 0 14px;
}
/*# sourceMappingURL=product-list-2.css.map */