@import url(c:\Users\Alosha\Desktop\from0to1\glee\node_modules\@fancyapps\fancybox\dist\jquery.fancybox.css);
@import url(c:\Users\Alosha\Desktop\from0to1\glee\node_modules\ion-rangeslider\css\ion.rangeSlider.css);
@import url(c:\Users\Alosha\Desktop\from0to1\glee\node_modules\rateyo\src\jquery.rateyo.css);
@import url(c:\Users\Alosha\Desktop\from0to1\glee\node_modules\jquery-form-styler\dist\jquery.formstyler.css);
.comments__date, .comments__text {
  font-family: 'Roboto-Regular', sans-serif;
  font-weight: 400;
}

a, .breadcrumps__item, .pagination__link, .pagination__next, .top__title, .our-team__text, .our-team__profesion, .filter-products__content-box, .product-details__content, .jq-number__field input, .blog-page__title, .blog-post__title-link, .contacts-page__content-link, .contacts-page__input::-webkit-input-placeholder, .contacts-page__textarea::-webkit-input-placeholder, .blog-details__text p, .blog-details__profesion {
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}

a, .breadcrumps__item, .pagination__link, .pagination__next, .top__title, .our-team__text, .our-team__profesion, .filter-products__content-box, .product-details__content, .jq-number__field input, .blog-page__title, .blog-post__title-link, .contacts-page__content-link, .contacts-page__input:-ms-input-placeholder, .contacts-page__textarea:-ms-input-placeholder, .blog-details__text p, .blog-details__profesion {
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}

a, .breadcrumps__item, .pagination__link, .pagination__next, .top__title, .our-team__text, .our-team__profesion, .filter-products__content-box, .product-details__content, .jq-number__field input, .blog-page__title, .blog-post__title-link, .contacts-page__content-link, .contacts-page__input::-ms-input-placeholder, .contacts-page__textarea::-ms-input-placeholder, .blog-details__text p, .blog-details__profesion {
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}

a, .breadcrumps__item, .pagination__link, .pagination__next, .top__title, .our-team__text, .our-team__profesion, .filter-products__content-box, .product-details__content, .jq-number__field input, .blog-page__title, .blog-post__title-link, .contacts-page__content-link, .contacts-page__input::placeholder, .contacts-page__textarea::placeholder, .blog-details__text p, .blog-details__profesion {
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}

body, .terms-content, .blog-details__name {
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}

.experience__years, .our-team__btn, .product-tabs__top-item, .blog-page__btn, .contacts-page__subtitle, .contacts-page__form-title, .contacts-page__btn, .comments__title, .comments__name {
  font-family: 'Poppins-Bold', sans-serif;
  font-weight: 700;
}

.title, .experience__title, .experience__number, .about__number, .our-team__name, .filter__title, .contacts-page__title, .contacts-page__content-title {
  font-family: 'DMSans-Bold', sans-serif;
  font-weight: 700;
}

.filter-category__input, .filter-brand__input {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}

@font-face {
  font-family: 'Roboto-Regular', sans-serif;
  font-weight: 400;
  font-style: normal;
  src: local("Roboto-Regular"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
  font-style: normal;
  src: local("Rubik-Regular"), url("../fonts/Rubik-Regular.woff2") format("woff2"), url("../fonts/Rubik-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
  font-style: normal;
  src: local("Rubik-Medium"), url("../fonts/Rubik-Medium.woff2") format("woff2"), url("../fonts/Rubik-Medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-Bold', sans-serif;
  font-weight: 700;
  font-style: normal;
  src: local("Poppins-Bold"), url("../fonts/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 400;
  font-style: normal;
  src: local("DMSans-Regular"), url("../fonts/DMSans-Regular.woff2") format("woff2"), url("../fonts/DMSans-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'DMSans-Medium', sans-serif;
  font-weight: 500;
  font-style: normal;
  src: local("DMSans-Medium"), url("../fonts/DMSans-Medium.woff2") format("woff2"), url("../fonts/DMSans-Medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'DMSans-Bold', sans-serif;
  font-weight: 700;
  font-style: normal;
  src: local("DMSans-Bold"), url("../fonts/DMSans-Bold.woff2") format("woff2"), url("../fonts/DMSans-Bold.woff") format("woff");
  font-display: swap;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

html,
body {
  height: 100%;
}

body {
  font-size: 18px;
  line-height: 30px;
  color: #436372;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.big-container {
  max-width: 1800px;
  padding: 0 15px;
  margin: 0 auto;
}

a {
  font-size: 14px;
  line-height: 24px;
  color: #7b7b7b;
}

.title {
  font-size: 36px;
  line-height: 42px;
  color: #191919;
}

.breadcrumps {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.breadcrumps__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrumps__item {
  color: #737980;
  font-size: 14px;
  padding-right: 18px;
  position: relative;
}

.breadcrumps__item::after {
  content: "/";
  position: absolute;
  right: 6px;
  top: 0;
}

.breadcrumps__item:last-child {
  padding-right: 0;
}

.breadcrumps__item:last-child::after {
  display: none;
}

.breadcrumps__link {
  color: inherit;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 60px;
}

.pagination .pagination__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 15px;
}

.pagination__item + .pagination__item {
  padding-left: 15px;
}

.pagination__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  border: 1px solid #a3bbc8;
  background-color: #fff;
  color: #243f4d;
}

.pagination__link--active {
  background-color: #a3bbc8;
  color: #fff;
}

.pagination__next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 74px;
  color: #243f4d;
  border: 1px solid #a3bbc8;
}

.top {
  padding: 30px 33px;
  background-color: #edf1f4;
  text-align: center;
}

.top__title {
  font-size: 36px;
  line-height: 42px;
  color: #222933;
  margin-bottom: 15px;
}

.terms-content {
  color: #243f4d;
  padding-top: 115px;
}

.terms-content__title {
  font-size: 24px;
  margin-bottom: 30px;
}

.terms-content__list {
  margin-bottom: 75px;
  counter-reset: counter;
}

.terms-content__item {
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 20px;
  list-style: none;
  position: relative;
  padding-left: 45px;
  font-size: inherit;
}

.terms-content__item::before {
  position: absolute;
  content: "0" counter(counter) ".";
  counter-increment: counter;
  left: 10px;
}

.terms-content__item:last-child {
  margin-bottom: 0;
}

.terms-content__text {
  margin-bottom: 70px;
}

.terms-content__text:last-child {
  margin-bottom: 0;
}

.experience {
  padding: 120px 0;
}

.experience__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.experience__image-box {
  max-width: 570px;
  width: 100%;
}

.experience__image {
  -o-object-fit: cover;
     object-fit: cover;
  height: 676px;
}

.experience__content {
  max-width: 550px;
  width: 100%;
}

.experience__years-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 50px;
}

.experience__years {
  font-size: 140px;
  line-height: 120px;
  color: #a3bbc8;
  font-weight: 900;
}

.experience__years-text {
  max-width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: 25px;
}

.experience__title {
  font-size: 36px;
  line-height: 42px;
  color: #243f4d;
  margin-bottom: 47px;
}

.experience__text {
  font-size: 16px;
  line-height: 30px;
  color: #243f4d;
  margin-bottom: 75px;
}

.experience__items {
  max-width: 530px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 30px;
  border-top: 3px solid #e6eaf0;
}

.experience__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.experience__item--line::after {
  content: "";
  position: absolute;
  top: -5px;
  right: 0;
  height: 80px;
  width: 1px;
  background-color: #e6eaf0;
}

.experience__number {
  font-size: 36px;
  line-height: 30px;
  color: #243f4d;
  width: 100px;
  margin-left: 15px;
}

.experience__number span {
  font-size: 16px;
  line-height: 17px;
  color: #4c4c4c;
}

.about {
  padding: 85px 0 80px;
  background-color: #fcd7b6;
}

.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.about__number {
  margin-top: 20px;
  font-size: 36px;
  line-height: 36px;
  color: #243f4d;
}

.about__number-text {
  margin-top: 10px;
  font-size: 18px;
}

.our-team {
  padding-top: 120px;
}

.our-team__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.our-team__content {
  max-width: 310px;
  width: 100%;
}

.our-team__title {
  color: #243f4d;
  margin-bottom: 30px;
}

.our-team__text {
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 40px;
}

.our-team__btn {
  cursor: pointer;
  position: relative;
  background-color: #a3bbc8;
  color: #fff;
  font-size: 15px;
  border: none;
  padding: 19px 67px 18px 24px;
  border-radius: 5px;
}

.our-team__btn::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 11px;
  right: 26px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url("../images/page-about-us/icons/arrow-right-white.svg");
}

.our-team__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 100px;
  grid-column-gap: 30px;
}

.our-team__item {
  max-width: 370px;
  width: 100%;
  position: relative;
}

.our-team__image {
  -o-object-fit: cover;
     object-fit: cover;
  height: 322px;
}

.our-team__about-box {
  position: absolute;
  background-color: #fff;
  max-width: 326px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 27px 23px;
  left: 0;
  bottom: -57px;
}

.our-team__name {
  font-size: 22px;
  line-height: 24px;
  margin-bottom: 4px;
}

.our-team__profesion {
  font-size: 16px;
  line-height: 30px;
  color: #565872;
}

.our-team__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.our-team__contacts-link {
  cursor: pointer;
  display: block;
}

.our-team__contacts-link + .our-team__contacts-link {
  margin-left: 7px;
}

.product {
  padding: 120px 0;
}

.product__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product__filters {
  max-width: 270px;
  width: 100%;
  padding-right: 30px;
}

.filter__item {
  margin-bottom: 65px;
}

.filter__title {
  color: #243f4d;
  text-transform: uppercase;
  position: relative;
  padding-right: 53px;
  display: inline-block;
  margin-bottom: 25px;
}

.filter__title::after {
  content: "";
  position: absolute;
  width: 38px;
  height: 3px;
  background-color: #a3bbc8;
  right: 0;
  top: 12px;
}

.filter-category__label {
  cursor: pointer;
  display: block;
  margin-bottom: 2px;
}

.filter-category__input:checked + .filter-category__checkbox {
  background-color: #edf1f4;
}

.filter-category__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px;
  background-color: #fff;
  border-radius: 5px;
}

.filter-price__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
  font-size: 15px;
  color: #243f4d;
}

.filter-price__from {
  margin-right: auto;
}

.irs--flat .irs-line {
  top: 12px;
  height: 3px;
  background-color: #c2d2db;
  border-top: 1px solid #dfe7ec;
  border-bottom: 1px solid #dfe7ec;
  border-radius: 0;
}

.irs--flat .irs-handle {
  top: 5px;
  width: 15px;
  height: 15px;
  background-color: #a3bbc8;
}

.irs--flat .irs-bar {
  top: 12px;
  height: 4px;
  background-color: #a3bbc8;
  border-top: 1px solid #bfd0d9;
  border-bottom: 1px solid #d4dfe5;
}

.irs--flat .irs-handle > i:first-child {
  display: none;
}

.irs-from, .irs-to, .irs-single {
  display: none;
}

.irs--flat .irs-min, .irs--flat .irs-max {
  display: none;
}

.irs--flat {
  height: 20px;
}

.filter-brand__label {
  cursor: pointer;
  margin-bottom: 2px;
  display: block;
}

.filter-brand__input:checked + .filter-brand__checkbox {
  background-color: #edf1f4;
}

.filter-brand__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 14px 22px 14px 14px;
  border-radius: 5px;
  color: #243f4d;
  font-size: 16px;
}

.filter-products__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 22px;
}

.filter-products__image-box {
  max-width: 70px;
  width: 100%;
  border: 2px solid #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1px;
}

.filter-products__image-box img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 63px;
}

.filter-products__content-box {
  padding: 1px 0 1px 17px;
  color: #333333;
  line-height: 22px;
}

.filter-products__content-title {
  font-size: 14px;
  margin-bottom: 8px;
}

.filter-products .star {
  margin-left: -5px;
}

.filter-products__contenct-price {
  margin-top: 8px;
  font-size: 15px;
}

.product-content {
  width: 100%;
}

.product-content__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product-content__inner .products__item {
  margin-bottom: 40px;
}

.big-star {
  display: none;
}

.product-item__content-box {
  display: none;
}

.product-details-page {
  padding-top: 120px;
}

.product-details__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-details__slide {
  width: 550px;
  margin-right: 65px;
}

.product-details__content {
  width: 530px;
}

.product-details__title {
  font-size: 40px;
  color: #333333;
  line-height: 40px;
  margin-bottom: 10px;
}

.product-details .big-star {
  display: block;
  margin-left: -5px;
}

.product-details__price {
  color: #333333;
  font-size: 30px;
  line-height: 45px;
  margin: 25px 0;
}

.product-details__text {
  font-size: 16px;
  line-height: 30px;
  color: #243f4d;
  margin-bottom: 35px;
}

.product-details__btn {
  width: 208px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 53px;
  text-transform: uppercase;
  background-color: #a3bbc8;
  border-radius: 5px;
  font-size: 15px;
  color: #fff;
  border: none;
  cursor: pointer;
  display: inline-block;
  margin-left: 15px;
}

.jq-number__field {
  width: 147px;
  border: 1px solid #a3bbc8;
  border-radius: 0;
  position: relative;
}

.jq-number__field::before {
  content: "";
  position: absolute;
  height: 50px;
  width: 1px;
  background-color: #a3bbc8;
  left: 49px;
  top: 0;
}

.jq-number__field::after {
  content: "";
  position: absolute;
  height: 50px;
  width: 1px;
  background-color: #a3bbc8;
  right: 49px;
  top: 0;
}

.jq-number__field input {
  width: 100%;
  height: 50px;
  outline: none;
  color: #333;
  font-size: 15px;
  text-align: center;
  border: none;
}

.jq-number {
  padding: 0;
  position: relative;
}

.jq-number__spin {
  position: absolute;
  cursor: pointer;
  width: 12px;
  height: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.jq-number__spin.minus {
  left: 21px;
}

.jq-number__spin.plus {
  right: 21px;
}

.jq-number__spin::after {
  content: '';
  position: absolute;
  top: 6px;
  left: 0px;
  background-color: #333;
  width: 12px;
  height: 1px;
}

.jq-number__spin.plus::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 6px;
  background-color: #333;
  width: 1px;
  height: 12px;
}

.product-info {
  margin-top: 50px;
}

.product-info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-info__title, .product-info__text {
  color: #243f4d;
  font-size: 16px;
  line-height: 30px;
}

.product-info__text {
  margin-left: 4px;
}

.product-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 530px;
}

.product-slide__thumb {
  width: 138px;
  margin-right: 25px;
}

.product-slide__thumb .slick-list {
  max-height: 530px;
}

.product-slide__thumb-item {
  cursor: pointer;
  width: 138px;
  height: 160px;
  margin-bottom: 12px;
  border: 2px solid #f2f2f2;
  padding: 5px 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-slide__thumb-item img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 130px;
  height: 150px;
}

.product-slide__big {
  width: 387px;
  height: 530px;
  border: 2px solid #f2f2f2;
}

.product-slide__big-wrapper {
  padding: 62px 77px;
}

.product-slide__big-item {
  width: 233px;
  height: 405px;
  margin: auto;
}

.product-slide__big-item img {
  width: 233px;
  height: 405px;
  -o-object-fit: cover;
     object-fit: cover;
}

.product-tabs {
  padding: 100px 0 115px;
}

.product-tabs__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 35px;
}

.product-tabs__top-item {
  color: #243f4d;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  height: 53px;
  width: 241px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #edf1f4;
  border-radius: 5px;
}

.product-tabs__top-item + .product-tabs__top-item {
  margin-left: 13px;
}

.product-tabs__top-item--active {
  background-color: #a3bbc8;
  color: #fff;
}

.product-tabs__content-item {
  display: none;
}

.product-tabs__content-item.product-tabs__content-item--active {
  display: block;
}

.product-related {
  position: relative;
}

.product-related__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 35px;
  color: #243f4d;
}

.product-related__slider-wrapper {
  width: calc(100% + 80px);
  margin-left: -39px;
  padding: 0 15px;
}

.product-related .products__item-image__inner {
  height: 210px;
}

.product-related .products__item-image {
  -o-object-fit: contain;
     object-fit: contain;
}

.product-related .products__item {
  max-width: 270px;
  width: 100%;
  margin: 30px 25px;
}

.product-related .slick-arrow {
  position: absolute;
  right: 28px;
  top: -77px;
  height: 50px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  border: 2px solid #a3bbc8;
  border-radius: 5px;
  outline-color: transparent;
}

.product-related .slick-prev {
  right: 100px;
}

.product-related .slick-disabled {
  border: 2px solid #edf1f4;
}

.blog-page {
  padding: 120px 0;
}

.blog-page__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog-page__content {
  width: 830px;
  margin-right: 70px;
}

.blog-page__item {
  margin-bottom: 40px;
}

.blog-page__image-link {
  display: block;
}

.blog-page__image {
  height: 501px;
  max-width: 830px;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog-page__add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 28px 25px 22px;
  background-color: #a3bbc8;
  width: auto;
  color: #fff;
  font-size: 12px;
  line-height: 24px;
  width: 271px;
  margin-top: -74px;
  position: relative;
}

.blog-page__add-date, .blog-page__add-link {
  padding-left: 20px;
  position: relative;
}

.blog-page__add-date::before, .blog-page__add-link::before {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  width: 12px;
  height: 13px;
  background-repeat: no-repeat;
  background-size: cover;
}

.blog-page__add-date {
  background-image: url("../images/blog-page/icons/calendar-alt-regular.svg");
  background-repeat: no-repeat;
}

.blog-page__add-link {
  background-image: url("../images/blog-page/icons/user-regular.svg");
  background-repeat: no-repeat;
  color: #fff;
  font-size: 12px;
  line-height: 24px;
}

.blog-page__title {
  font-size: 36px;
  line-height: 42px;
  color: #333;
  margin: 35px 0;
}

.blog-page__text {
  margin-bottom: 35px;
}

.blog-page__btn {
  padding: 20px 84px 23px 18px;
  background-color: transparent;
  color: #a3bbc8;
  font-size: 15px;
  border: 1px solid #a3bbc8;
  position: relative;
  display: block;
  width: 181px;
}

.blog-page__btn::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 19px;
  width: 22px;
  height: 9px;
  background-image: url("../images/icons/angel-right-blue.svg");
}

.blog-page__aside {
  width: 270px;
}

.blog-page__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #edf1f4;
  border-radius: 5px;
  height: 46px;
}

.blog-page__input {
  width: 221px;
  height: 43px;
  border: none;
  padding: 0 15px;
  outline-color: #edf1f4;
}

.blog-page__form-btn {
  width: 48px;
  height: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #edf1f4;
  cursor: pointer;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 2px solid #edf1f4;
}

.blog-page--pagination {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 35px;
}

.blog__wrapper--small {
  padding-top: 0;
}

.blog--small {
  padding-top: 0;
}

.blog-post__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.blog-post__image-link {
  min-width: 71px;
  height: 71px;
  margin-right: 19px;
}

.blog-post__image {
  width: 71px;
  height: 71px;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog-post__title-link {
  font-size: 14px;
  line-height: 20px;
  color: #333;
  margin-bottom: 10px;
  display: block;
}

.blog-post__date {
  position: relative;
  font-size: 12px;
  line-height: 20px;
  color: #9a9a9a;
  padding-left: 18px;
}

.blog-post__date::before {
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  width: 12px;
  height: 13px;
  background-image: url("../images/blog-page/icons/calendar.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.contacts-page {
  padding-top: 60px;
}

.contacts-page__subtitle {
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  color: #a3bbc8;
}

.contacts-page__title {
  text-align: center;
  font-size: 35px;
  line-height: 56px;
  margin-bottom: 65px;
}

.contacts-page__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 120px;
}

.contacts-page__item {
  width: 370px;
  background-color: #fbfbfb;
  padding: 69px 40px 75px;
  border: 3px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.contacts-page__item:hover {
  border: 3px solid #a3bbc8;
}

.contacts-page__item:hover .contacts-page__image-box {
  background-color: #a3bbc8;
}

.contacts-page__item:hover .contacts-page__image-box svg path {
  fill: #fff;
}

.contacts-page__image-box {
  width: 80px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  -webkit-box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
          box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
  border-radius: 20px;
  margin-bottom: 60px;
}

.contacts-page__image-box svg path {
  fill: #a3bbc8;
}

.contacts-page__content {
  text-align: center;
}

.contacts-page__content-title {
  font-size: 20px;
  line-height: 26px;
  color: #222;
  margin-bottom: 24px;
}

.contacts-page__content-link {
  display: block;
  color: #565872;
  font-size: 16px;
  margin-top: 5px;
}

.contacts-page__content-link div {
  margin-top: 5px;
}

.contacts-page__contacts {
  float: left;
}

.contacts-page__form-title {
  font-size: 24px;
  color: #436372;
  margin: 82px 0 45px;
}

.contacts-page__form {
  max-width: 620px;
  margin-right: 50px;
}

.contacts-page__label {
  position: relative;
}

.contacts-page__label + .contacts-page__label {
  margin-left: 15px;
}

.contacts-page__label::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 13px;
  right: 25px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
  background-repeat: no-repeat;
  background-size: cover;
}

.contacts-page__label--name::before {
  background-image: url("../images/icons/contacts-page/contacts-name.svg");
}

.contacts-page__label--email::before {
  background-image: url("../images/icons/contacts-page/contacts-email.svg");
  width: 19px;
  right: 20px;
}

.contacts-page__input {
  width: 300px;
  height: 50px;
  background-color: #fafafa;
  padding: 0 45px 0 20px;
  border: none;
  outline-color: #a3bbc8;
}

.contacts-page__input::-webkit-input-placeholder {
  font-size: 16px;
  color: #565872;
}

.contacts-page__input:-ms-input-placeholder {
  font-size: 16px;
  color: #565872;
}

.contacts-page__input::-ms-input-placeholder {
  font-size: 16px;
  color: #565872;
}

.contacts-page__input::placeholder {
  font-size: 16px;
  color: #565872;
}

.contacts-page__label-textarea {
  margin: 25px 0 30px;
  position: relative;
  display: block;
}

.contacts-page__label-textarea::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 15px;
  right: 21px;
  top: 16px;
  background-image: url("../images/icons/contacts-page/contacts-text.svg");
  z-index: 1;
}

.contacts-page__textarea {
  height: 175px;
  display: block;
  resize: none;
  background-color: #fafafa;
  width: 100%;
  padding: 16px 47px 16px 19px;
  border: none;
  outline-color: #a3bbc8;
}

.contacts-page__textarea::-webkit-input-placeholder {
  font-size: 16px;
  color: #565872;
}

.contacts-page__textarea:-ms-input-placeholder {
  font-size: 16px;
  color: #565872;
}

.contacts-page__textarea::-ms-input-placeholder {
  font-size: 16px;
  color: #565872;
}

.contacts-page__textarea::placeholder {
  font-size: 16px;
  color: #565872;
}

.contacts-page__btn {
  text-transform: uppercase;
  width: 200px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  color: #fff;
  background-color: #a3bbc8;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
}

#map {
  max-width: 500px;
  height: 335px;
}

.blog-details__text {
  margin-top: -15px;
}

.blog-details__text p {
  margin: 20px 0;
}

.blog-details__text blockquote {
  padding: 23px 40px;
  margin: 40px 0;
  background-color: #edf1f4;
  border-left: 7px solid #a3bbc8;
}

.blog-details__text blockquote div {
  margin-top: 20px;
  padding-left: 40px;
  position: relative;
}

.blog-details__text blockquote div::before {
  content: "";
  position: absolute;
  background-color: #a3bbc8;
  width: 20px;
  height: 4px;
  left: 0;
  bottom: 12px;
}

.blog-details__text-box {
  margin: 44px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog-details__image--left {
  float: left;
  margin-right: 30px;
}

.blog-details__image--right {
  float: right;
  margin-left: 30px;
}

.blog-details__box {
  margin: 60px 0;
  padding: 24px 0;
  border-top: 2px solid #ebebeb;
  border-bottom: 2px solid #ebebeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog-details__image-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog-details__image {
  width: 76px;
  height: 76px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 27px;
}

.blog-details__name {
  color: #333;
}

.blog-details__profesion {
  color: #666;
}

.blog-details__tags, .blog-details__shares {
  font-size: 16px;
  color: #666;
}

.blog-details__tags span, .blog-details__shares span {
  margin-right: 10px;
  color: #333;
}

.blog-details__tags span {
  margin-right: 30px;
}

.blog-details__shares a {
  margin: 0px 10px;
  vertical-align: middle;
}

.comments__title {
  font-size: 24px;
  line-height: 46px;
  color: #436372;
  margin-bottom: 55px;
}

.comments__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.comments__item--small {
  padding: 28px 0;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  max-width: 700px;
  margin-left: auto;
}

.comments__item--no-border .comments__content {
  border-bottom: none;
}

.comments__image {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 28px;
}

.comments__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.comments__name {
  font-size: 16px;
  color: #436372;
}

.comments__date {
  font-size: 14px;
  color: #9e9e9e;
}

.comments__text {
  font-size: 16px;
  color: #565872;
  margin-bottom: 20px;
}

.comments__link {
  position: relative;
  font-size: 14px;
  color: #516278;
  padding-right: 20px;
}

.comments__link::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 11px;
  right: 0;
  top: 3px;
  background-image: url("../images/blog-details/arrow-right-btn.svg");
}
/*# sourceMappingURL=style.css.map */