$default: #436372;
$title: #243f4d;

// Roboto font setup:

%roboto-400{
  font-family: 'Roboto-Regular', sans-serif;
  font-weight: 400;
}

// Rubik font setup:

%rubik-400{
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}

%rubik-500{
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}

// Poppins font setup:

%poppins-700{
  font-family: 'Poppins-Bold', sans-serif;
  font-weight: 700;
}

// DMSans font setup:

%dmsans-400{
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 400;
}

%dmsans-500{
  font-family: 'DMSans-Medium', sans-serif;
  font-weight: 500;
}

%dmsans-700{
  font-family: 'DMSans-Bold', sans-serif;
  font-weight: 700;
}

