@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

// header setcion setup starts ////////////////////////////

.header{
  padding: 49px 0;
  &__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center
  }
}

// menu setup starts

.menu{
  &__list{
    display: flex;
  }
  &__list-item + .menu__list-item{
    padding-left: 31px;
  }
  &__list-link{
    color: inherit;
    cursor: pointer;
    font-size: 15px;
    line-height: 12px;
    padding-bottom: 4px;
    border-bottom: 1px solid transparent;
    &:hover{
      border-bottom: 1px solid $default;
    }

  }
}

// menu setup ends

// user-nav setup starts

.user-nav{
  display: flex;
  align-items: center;
  &__link{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__image{
    width: 20px;
    height: 20px;
  }
  &__inner{
    padding: 0 10px;
    margin: 0 20px;
    display: flex;
    justify-content: space-around;
    height: 51px;
    width: 178px;
    background-color: #fcd7b6;
    border-radius: 25.5px;
  }
  &__number{
    position: absolute;
    background-color: #fff;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    top: 7px;
    right: -7px;
    text-align: center;
    font-size: 10px;
    line-height: 16px;
    color: $title;
    @extend %roboto-400;
  }
  &__link--more,
  &__link--search{
    width: 51px;
    height: 51px;
    border-radius: 50%
  }
  &__link--search{
    background-color: #edf1f4;
  }
  &__link--more{
    background-color: #a3bbc8;
  } 
}

// user-nav setup ends

// header setcion setup ends ////////////////////////////

// top-slider setcion setup starts ////////////////////////////

.top-slider{
  background-color: $orange;
  &__inner{
    padding-bottom: 46px;
  }
  &__content{
    max-width: 418px;
    padding-top: 220px;
    margin-left: 300px;
  }
  &__item-inner{
    display: flex;
    justify-content: space-between;
  }
  &__title{
    font-size: 70px;
    line-height: 70px;
    color: $title;
    margin-bottom: 36px;
  }
  &__text{
    font-size: 18px;
    line-height: 30px;
    @extend %rubik-400;
    margin-bottom: 40px;
  }
  &__btn{
    font-size: 15px;
    line-height: 15px;
    color: #fff;
    border: none;
    background-color: #a3bbc8;
    padding: 24px 101px 23px 27px;
    position: relative;
    cursor: pointer;
    &::after{
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 19px;
      height: 9px;
      width: 21px;
      background-image: url('../images/arrow-right.svg');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  &__image{
    padding-top: 70px;
    margin-right: 188px;
  }
  .slick-dots{
    display: flex;
    justify-content: center;
    margin-top: 12px;
    li{
      line-height: 1px;
      padding: 0 11px;
      button{
        width: 29px;
        height: 29px;
        border-radius: 50%;
        background-color: rgba(#fff, 0.3);
        border: none;
        @extend %rubik-500;
        font-size: 12px;
        color: $title;
        cursor: pointer;
        outline-color: #fff;
      }
      &.slick-active{
        button{
          background-color: rgba(#fff, 1);
          width: 30px;
          height: 30px;
        }       
      }
    }
  }
}

// top-slider setcion setup ends ////////////////////////////

// offer block setup starts ////////////////////////////

.offer{
  &__wrapper{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background-color: $bgc;
  }
  &__item{
    width: 590px;
    position: relative;
    padding: 40px 0;
    &::after{
      content: "";
      position: absolute;
      border-right: 1px solid #e8e4df;
      top: 0;
      bottom: 0;
      right: 0;
    }
  }
  &__item-inner__support{
    padding-left: 77px;
    background-image: url('../images/icons/support.svg');
    background-repeat: no-repeat;
  }  
  &__item-inner__delivery{
    padding-left: 77px;
    background-image: url('../images/icons/delivery.svg');
    background-position: 1px 6px;
    background-repeat: no-repeat;
  }
  &__item-inner__paymant{
    padding-left: 87px;
    background-image: url('../images/icons/payment.svg');
    background-repeat: no-repeat;
  }
  &__item-paymant{
    &::after{
      display: none;
    }
  }
  &__item-inner{
    max-width: 300px;
    margin: 0 auto;
    min-height: 100px;
  }
  &__title{
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 10px;
    @extend %dmsans-700;
    color: #414141;
    max-width: 300px;
  }
  &__text{
    font-size: 16px;
    @extend %dmsans-400;
    color: #585858;
    max-width: 300px;
  }
  &__text-support{
    max-width: 200px;
  }
  &__text-paymant{
    max-width: 200px;
  }
}


// offer block setup ends ////////////////////////////

// productssetcion setup starts ////////////////////////////

.products{
  padding: 70px 0 95px;
  &__title{
    text-align: center;
    margin-bottom: 32px;
  }
  &__filter{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
  }
  &__filter-btn{
    font-size: 16px;
    @extend %dmsans-700;
    color: #8b8b8b;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  &__filter-btn + .products__filter-btn{
    margin-left: 26px;
  }
  .mixitup-control-active{
    color: #191919;
  }
  &__content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1f);
    grid-column-gap: 30px;
    grid-row-gap: 40px;
  }
  &__item{
    padding: 0 20px;
    border-radius: 10px;
    position: relative;
    width: 270px;
    height: 380px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    &:hover .products__item-hover{
      opacity: 1;
    }
  }
  &__item-image__inner{
    margin-top: 25px;
    min-height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 55px;
  }
  &__item-hover{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.5s;
    display: flex;
    flex-direction: row;
  }
  &__item-link{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #a3bbc8;
  }
  &__item-link__active{
    background-color: #a3bbc8;
  }
  &__item-link + .products__item-link{
    margin-left: 15px;
  }
  &__item-name{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
    color: $title;
    @extend %dmsans-500;
  }
  &__item-price{
    font-size: 16px;
    line-height: 24px;
    color: #a3bbc8;
    @extend %dmsans-700;
  }
}

// products setcion setup ends ////////////////////////////

//  video block setup starts ////////////////////////////

.video{
  background-repeat: no-repeat;
  background-size: auto;
  max-width: 1920px;
  min-height: 501px;
  position: relative;
  margin: 0 auto;
  &__link{
    position: absolute;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

//  video block setup ends ////////////////////////////









// footer setcion setup starts ////////////////////////////

.footer{
  padding-top: 79px;
}

// footer-top setup starts

.footer-top{
  display: flex;
  padding-bottom: 67px;
  border-bottom: 1px solid #dae4e9;
  &__item-contacts{
    width: 200px;
    margin-right: 90px;
  }
  &__item-navigation{
    width: 130px;
    margin-right: 160px;
  }
  &__item-form{
    width: 270px;
  }
  &__logo{
    margin-bottom: 26px;
    display: block
  }
  &__adress,
  &__phone,
  &__email{
    display: block;
    margin-bottom: 8px;
  }
  &__title{
    font-size: 16px;
    line-height: 21px;
    color: $dark;
    text-transform: uppercase;
    @extend %dmsans-700;
    margin: 14px 0 24px 0;
  }
  &__list-link{
    display: block;
    margin-bottom: 8px;
  }
  &__item-text{  
    font-size: 14px;
    line-height: 24px;
    color: $link;
    margin-bottom: 37px;
    @extend %rubik-400;

  }
  &__form{
    display: flex;
  }
  &__form-input{
    @extend %dmsans-500;
    max-width: 170px;
    width: 100%;
    outline-color: #234969;
    font-size: 13px;
    line-height: 24px;
    color: #234969;
    background-color: $bgc;
    border: none;
    padding: 13px 15px 14px;

    &::placeholder{
      @extend %dmsans-500;
      color: #234969;
      font-size: 13px;
      line-height: 24px;
    }
  }
  &__form-btn{
    border: none;
    outline-color: #234969;
    @extend %dmsans-400;
    font-size: 14px;
    line-height: 21px;
    color: #fff;
    background-color: #a3bbc8;
    padding: 0 19px;
    cursor: pointer;
  } 
}

// footer-top setup ends

// footer-bottom setup starts

.footer-bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 90px;
  font-size: 14px;
  line-height: 32px;
  @extend %dmsans-400;
  color: $link;
  &__nav{
    display: flex;
  }
  &__link-span{
    padding: 0 14px;
  }
}

// footer-bottom setup ends

// footer  setcion setup ends ////////////////////////////





@import 'media';
