@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

// header setcion setup starts ////////////////////////////

.header{
  padding: 49px 0;
  &__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center
  }
}

// menu setup starts

.menu{
  &__list{
    display: flex;
  }
  &__list-item + .menu__list-item{
    padding-left: 31px;
  }
  &__list-link{
    color: inherit;
    cursor: pointer;
    font-size: 15px;
    line-height: 12px;
    padding-bottom: 4px;
    border-bottom: 1px solid transparent;
    &:hover{
      border-bottom: 1px solid $default;
    }

  }
}

// menu setup ends

// user-nav setup starts

.user-nav{
  display: flex;
  align-items: center;
  &__link{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__image{
    width: 20px;
    height: 20px;
  }
  &__inner{
    padding: 0 10px;
    margin: 0 20px;
    display: flex;
    justify-content: space-around;
    height: 51px;
    width: 178px;
    background-color: #fcd7b6;
    border-radius: 25.5px;
    position: relative;
    &::after{
      content: "";
      position: absolute;
      top: 9.5px;
      right: 89px;
      width: 1px;
      height: 32px;
      background-color: #ececec;
    }
  }
  &__number{
    position: absolute;
    background-color: #fff;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    top: 7px;
    right: -7px;
    text-align: center;
    font-size: 10px;
    line-height: 16px;
    color: $title;
    @extend %roboto-400;
  }
  &__link--more,
  &__link--search{
    width: 51px;
    height: 51px;
    border-radius: 50%
  }
  &__link--search{
    background-color: #edf1f4;
  }
  &__link--more{
    background-color: #a3bbc8;
  } 
}

// user-nav setup ends

// header setcion setup ends ////////////////////////////

// footer setcion setup starts ////////////////////////////

.footer{
  padding-top: 79px;
}

// footer-top setup starts

.footer-top{
  display: flex;
  padding-bottom: 67px;
  border-bottom: 1px solid #dae4e9;
  &__item-contacts{
    width: 200px;
    margin-right: 90px;
  }
  &__item-navigation{
    width: 130px;
    margin-right: 160px;
  }
  &__item-form{
    width: 270px;
  }
  &__logo{
    margin-bottom: 26px;
    display: block
  }
  &__adress,
  &__phone,
  &__email{
    display: block;
    margin-bottom: 8px;
  }
  &__title{
    font-size: 16px;
    line-height: 21px;
    color: $dark;
    text-transform: uppercase;
    @extend %dmsans-700;
    margin: 14px 0 24px 0;
  }
  &__list-link{
    display: block;
    margin-bottom: 8px;
  }
  &__item-text{  
    font-size: 14px;
    line-height: 24px;
    color: $link;
    margin-bottom: 37px;
    @extend %rubik-400;

  }
  &__form{
    display: flex;
  }
  &__form-input{
    @extend %dmsans-500;
    max-width: 170px;
    width: 100%;
    outline-color: #234969;
    font-size: 13px;
    line-height: 24px;
    color: #234969;
    background-color: $bgc;
    border: none;
    padding: 13px 15px 14px;

    &::placeholder{
      @extend %dmsans-500;
      color: #234969;
      font-size: 13px;
      line-height: 24px;
    }
  }
  &__form-btn{
    border: none;
    outline-color: #234969;
    @extend %dmsans-400;
    font-size: 14px;
    line-height: 21px;
    color: #fff;
    background-color: #a3bbc8;
    padding: 0 19px;
    cursor: pointer;
  } 
}

// footer-top setup ends

// footer-bottom setup starts

.footer-bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 90px;
  font-size: 14px;
  line-height: 32px;
  @extend %dmsans-400;
  color: $link;
  &__nav{
    display: flex;
  }
  &__link-span{
    padding: 0 14px;
  }
}

// footer-bottom setup ends

// footer  setcion setup ends ////////////////////////////

// top section setup starts ////////////////////////////

.top{
  padding: 30px 33px;
  background-color: #edf1f4;
  text-align: center;
  &__title{
    font-size: 36px;
    line-height: 42px;
    color: #222933;
    @extend %rubik-400;
    margin-bottom: 15px;
  }
}

// top section setup ends ////////////////////////////

// top-slider setcion setup starts ////////////////////////////

.top-slider{
  background-color: $orange;
  &__inner{
    padding-bottom: 46px;
  }
  &__content{
    max-width: 418px;
    padding-top: 220px;
    margin-left: 300px;
  }
  &__item-inner{
    display: flex;
    justify-content: space-between;
  }
  &__title{
    font-size: 70px;
    line-height: 70px;
    color: $title;
    margin-bottom: 36px;
  }
  &__text{
    font-size: 18px;
    line-height: 30px;
    @extend %rubik-400;
    margin-bottom: 40px;
  }
  &__btn{
    font-size: 15px;
    line-height: 15px;
    color: #fff;
    border: none;
    background-color: #a3bbc8;
    padding: 24px 101px 23px 27px;
    position: relative;
    cursor: pointer;
    &::after{
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 19px;
      height: 9px;
      width: 21px;
      background-image: url('../images/arrow-right.svg');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  &__image{
    padding-top: 70px;
    margin-right: 188px;
  }
  .slick-dots{
    display: flex;
    justify-content: center;
    margin-top: 12px;
    li{
      line-height: 1px;
      padding: 0 11px;
      button{
        width: 29px;
        height: 29px;
        border-radius: 50%;
        background-color: rgba(#fff, 0.3);
        border: none;
        @extend %rubik-500;
        font-size: 12px;
        color: $title;
        cursor: pointer;
        outline-color: #fff;
      }
      &.slick-active{
        button{
          background-color: rgba(#fff, 1);
          width: 30px;
          height: 30px;
        }       
      }
    }
  }
}

// top-slider setcion setup ends ////////////////////////////

// offer block setup starts ////////////////////////////

.offer{
  &__wrapper{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background-color: $bgc;
  }
  &__item{
    width: 590px;
    position: relative;
    padding: 40px 0;
    &::after{
      content: "";
      position: absolute;
      border-right: 1px solid #e8e4df;
      top: 0;
      bottom: 0;
      right: 0;
    }
  }
  &__item-inner__support{
    padding-left: 77px;
    background-image: url('../images/icons/support.svg');
    background-repeat: no-repeat;
  }  
  &__item-inner__delivery{
    padding-left: 77px;
    background-image: url('../images/icons/delivery.svg');
    background-position: 1px 6px;
    background-repeat: no-repeat;
  }
  &__item-inner__paymant{
    padding-left: 87px;
    background-image: url('../images/icons/payment.svg');
    background-repeat: no-repeat;
  }
  &__item-paymant{
    &::after{
      display: none;
    }
  }
  &__item-inner{
    max-width: 300px;
    margin: 0 auto;
    min-height: 100px;
  }
  &__title{
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 10px;
    @extend %dmsans-700;
    color: #414141;
    max-width: 300px;
  }
  &__text{
    font-size: 16px;
    @extend %dmsans-400;
    color: #585858;
    max-width: 300px;
  }
  &__text-support{
    max-width: 200px;
  }
  &__text-paymant{
    max-width: 200px;
  }
}


// offer block setup ends ////////////////////////////

// productssetcion setup starts ////////////////////////////

.products{
  padding: 70px 0 50px;
  &__title{
    text-align: center;
    margin-bottom: 32px;
  }
  &__filter{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
  }
  &__filter-btn{
    font-size: 16px;
    @extend %dmsans-700;
    color: #8b8b8b;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  &__filter-btn + .products__filter-btn{
    margin-left: 26px;
  }
  .mixitup-control-active{
    color: #191919;
  }
  &__content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1f);
    grid-column-gap: 30px;
    grid-row-gap: 40px;
  }
  &__item{
    padding: 0 20px;
    border-radius: 10px;
    position: relative;
    width: 270px;
    height: 380px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    &:hover .products__item-hover{
      opacity: 1;
    }
  }
  &__item-image__inner{
    margin-top: 25px;
    min-height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 55px;
    object-fit: cover;
  }
  &__item-hover{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    width: 195px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transition: all 0.5s;
  }
  &__item-link{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #a3bbc8;
    transition: all 0.5s;
    path{
      fill: #a3bbc8;
    }
    &:hover{
      background-color: #a3bbc8;
      path{
        transition: all 0.5s;
        fill: #fff;
      }
    }
  }
  &__item-name{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
    color: $title;
    @extend %dmsans-500;
  }
  &__item-price{
    font-size: 16px;
    line-height: 24px;
    color: #a3bbc8;
    @extend %dmsans-700;
  }
}

// more-products setup starts 

.more-products{
  padding-top: 186px;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    max-width: 870px;
    background-color: #feefe2;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    color: $blue;
    position: relative;
  }
  &__image-box{
    max-width: 300px;
    height: 405px;
    position: absolute;
    top: -100px;
    left: 110px;
  }
  &__image{
    object-fit: cover;
  }
  &__content{
    padding: 100px 152px 85px 10px;
  }
  &__title{
    font-size: 26px;
    line-height: 32px;
    @extend %dmsans-700;
    max-width: 248px;
    margin-bottom: 24px;
  }
  &__text{
    font-size: 16px;
    max-width: 345px;
    margin-bottom: 33px;
  }
  &__btn{
    background-color: transparent;
    border: 1px solid $default;
    border-radius: 5px;
    font-size: 15px;
    @extend %rubik-500;
    color: $default;
    padding: 21px 84px 22px 18px;
    position: relative;
    &::after{
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 20px;
      height: 9px;
      width: 21px;
      background-image: url('../images/arrow-right-blue.svg');
      background-repeat: no-repeat;
      background-size: cover;
    }
  } 
}

// more-products setup ends

// products setcion setup ends ////////////////////////////

// design setcion setup starts ////////////////////////////

.design{
  padding: 50px 0 120px;
  &__title{
    text-align: center;
    margin-bottom: 25px;
  }
  &__filter{
    display: flex;
    justify-content: center;
    margin-bottom: 77px;
  }
  &__filter-btn{
    font-size: 16px;
    @extend %dmsans-700;
    color: #8b8b8b;
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
  }
  .mixitup-control-active{
    color: #191919;
  }
  &__filter-btn + .design__filter-btn{
    margin-left: 26px;
  }
  &__items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 34px;
    grid-row-gap: 30px;
  }
  &__item{
    background-color: #f8f8f8;
    max-width: 370px;
    width: 100%;
    @extend %dmsans-700;
    padding: 40px 0 35px 36px;
    display: block;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }  
  &__item-title,
  &__item-materials{
    font-size: 20px;
    color: #191919;
    display: block;
  }
  &__item-materials{
    margin-bottom: 17px;
  }
  &__item-type{
    font-size: 16px;
    color: #a3bbc8;
    padding-right: 5px;
  }
  &__item-image__box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 140px;
  }
  &__item-image{
    object-fit: cover;
  }
  &__item-content{
    display: flex;
  }
}

// design setcion setup ends ////////////////////////////

//  video block setup starts ////////////////////////////

.video{
  background-repeat: no-repeat;
  background-size: auto;
  max-width: 1920px;
  min-height: 501px;
  position: relative;
  margin: 0 auto;
  &__link{
    position: absolute;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

//  video block setup ends ////////////////////////////

// blog setcion setup starts ////////////////////////////

.blog{
  padding-top: 113px;
  &__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }
  &__top-link{
    font-size: 16px;
    @extend %dmsans-700;
    color: #262626;
    position: relative;
    padding-right: 25px;
    &::after{
      content: "";
      position: absolute;
      background-image: url('../images/right.svg');
      background-repeat: no-repeat;
      background-size: cover;
      width: 6px;
      height: 11px;
      right: 0;
      top: 6px;
    }
  }
  &__items{
    display: flex;
    justify-content: space-between;
    margin-bottom: -190px;
  }
  &__item{
    width: 370px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    position: relative;
    background-color: #fff;
  } 
  &__item-image{
    object-fit: cover;
    height: 250px;
  }
  &__news{
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    background-color: #a3bbc8;
    text-transform: uppercase;
    @extend %poppins-700;
    position: absolute;
    padding: 8px 30px;
    border-radius: 18px;
    top: 230px;
    left: 28px;    
  }
  &-content{
    padding: 34px 27px 26px;
  }
  &-content__text-box{
    margin-bottom: 15px;
    min-height: 72px;
  }
  &-content__text{
    font-size: 18px;
    color: #262626;
    @extend %dmsans-500;
    display: block;
  }
  &-added{
    border-top: 1px solid #e0e0e0;
    padding-top: 21px;
    display: flex;
    justify-content: flex-start;
  }
  &-added__date,
  &-added-by{
    font-size: 12px;
    line-height: 22px;
    color: #222933;
    @extend %rubik-400;
    text-transform: uppercase;
  }
  &-added-by{
    margin-left: 39px;
  }
  &__wrapper{
    padding-top: 170px;
    background-color: #fef7f0;
    max-width: 1920px;
    margin: 0 auto;
  }
  &__partners{
    padding: 115px 0 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}


// blog setcion setup ends ////////////////////////////

// terms-content section setup starts ////////////////////////////

.terms-content{
  color: #243f4d;
  padding-top: 115px;
  @extend %rubik-500;
  &__title{
    font-size: 24px;
    margin-bottom: 30px;
  }
  &__list{
    margin-bottom: 75px;
    counter-reset: counter;
  }
  &__item{
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 20px;
    list-style: none;
    position: relative;
    padding-left: 45px;
    font-size: inherit;
    &::before{
      position: absolute;
      content: "0" counter(counter) ".";
      counter-increment: counter;
      left: 10px;
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__text{
    margin-bottom: 70px;
    &:last-child{
      margin-bottom: 0;
    }
  }
}

// terms-content section setup ends ////////////////////////////

// experience section setup starts ////////////////////////////

.experience{
  padding: 120px 0;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__image-box{
    max-width: 570px;
    width: 100%;
  }
  &__image{
    object-fit: cover;
    height: 676px;
  }
  &__content{
    max-width: 550px;
    width: 100%;
  }
  &__years-box{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 50px;
  }
  &__years{
    font-size: 140px;
    line-height: 120px;
    color: #a3bbc8;
    @extend %poppins-700;
    font-weight: 900;
  }
  &__years-text{
    max-width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 25px;
  }
  &__title{
    font-size: 36px;
    line-height: 42px;
    color: #243f4d;
    @extend %dmsans-700;
    margin-bottom: 47px;
  }
  &__text{
    font-size: 16px;
    line-height: 30px;
    color: #243f4d;
    margin-bottom: 75px;
  }
  &__items{
    max-width: 530px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    border-top: 3px solid #e6eaf0;
  }
  &__item{
    position: relative;
    display: flex;
    justify-content: center;
  }
  &__item--line::after{
    content: "";
    position: absolute;
    top: -5px;
    right: 0;
    height: 80px;
    width: 1px;
    background-color: #e6eaf0;
  }
  &__number{
    font-size: 36px;
    line-height: 30px;
    @extend %dmsans-700;
    color: #243f4d;
    width: 100px;
    margin-left: 15px;
    span{
      font-size: 16px;
      line-height: 17px;
      color: #4c4c4c;
    }
  }
}

// experience section setup ends ////////////////////////////

// about section setup starts ////////////////////////////

.about{
  padding: 85px 0 80px;
  background-color: #fcd7b6;
  &__inner{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  &__number{
    margin-top: 20px;
    font-size: 36px;
    line-height: 36px;
    color: #243f4d;
    @extend %dmsans-700;
  }
  &__number-text{
    margin-top: 10px;
    font-size: 18px;
  }
}

// about section setup ends ////////////////////////////

// our-team section setup starts ////////////////////////////

.our-team{
  padding-top: 120px;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__content{
    max-width: 310px;
    width: 100%;
  }
  &__title{
    color: #243f4d;
    margin-bottom: 30px;
  }
  &__text{
    font-size: 16px;
    line-height: 30px;
    @extend %rubik-400;
    margin-bottom: 40px;
  }
  &__btn{
    cursor: pointer;
    position: relative;
    background-color: #a3bbc8;
    color: #fff;
    @extend %poppins-700;
    font-size: 15px;
    border: none;
    padding: 19px 67px 18px 24px;
    border-radius: 5px;
    &::after{
      content: "";
      position: absolute;
      width: 16px;
      height: 11px;
      right: 26px;
      top: 50%;
      transform: translateY(-50%);
      background-image: url('../images/page-about-us/icons/arrow-right-white.svg');
    }
  }
  &__items{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 100px;
    grid-column-gap: 30px;
  }
  &__item{
    max-width: 370px;
    width: 100%;
    position: relative;
  }
  &__image{
    object-fit: cover;
    height: 322px;
  }
  &__about-box{
    position: absolute;
    background-color: #fff;
    max-width: 326px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 27px 23px;
    left: 0;
    bottom: -57px;
  }
  &__name{
    font-size: 22px;
    line-height: 24px;
    @extend %dmsans-700;
    margin-bottom: 4px;
  }
  &__profesion{
    font-size: 16px;
    line-height: 30px;
    color: #565872;
    @extend %rubik-400;
  }
  &__contacts{
    display: flex;
  }
  &__contacts-link{
    cursor: pointer;
    display: block;
  }
  &__contacts-link + .our-team__contacts-link{
    margin-left: 7px;
  }  
}

// our-team section setup ends ////////////////////////////

@import 'media';
