
.experience{
  padding: 120px 0;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__image-box{
    max-width: 570px;
    width: 100%;
  }
  &__image{
    object-fit: cover;
    height: 676px;
  }
  &__content{
    max-width: 550px;
    width: 100%;
  }
  &__years-box{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 50px;
  }
  &__years{
    font-size: 140px;
    line-height: 120px;
    color: #a3bbc8;
    @extend %poppins-700;
    font-weight: 900;
  }
  &__years-text{
    max-width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 25px;
  }
  &__title{
    font-size: 36px;
    line-height: 42px;
    color: #243f4d;
    @extend %dmsans-700;
    margin-bottom: 47px;
  }
  &__text{
    font-size: 16px;
    line-height: 30px;
    color: #243f4d;
    margin-bottom: 75px;
  }
  &__items{
    max-width: 530px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    border-top: 3px solid #e6eaf0;
  }
  &__item{
    position: relative;
    display: flex;
    justify-content: center;
  }
  &__item--line::after{
    content: "";
    position: absolute;
    top: -5px;
    right: 0;
    height: 80px;
    width: 1px;
    background-color: #e6eaf0;
  }
  &__number{
    font-size: 36px;
    line-height: 30px;
    @extend %dmsans-700;
    color: #243f4d;
    width: 100px;
    margin-left: 15px;
    span{
      font-size: 16px;
      line-height: 17px;
      color: #4c4c4c;
    }
  }
}

@media (max-width: 1250px){
  .experience{
    &__inner{
      display: block;
    }
    &__image-box{
      margin: 0 auto 30px;
    }
    &__content{
      max-width: 100%;
    }
    &__years-box{
      justify-content: center;
    }
    &__items{
      margin: 0 auto;
    }
  }
}

@media (max-width: 768px){
  .experience{
    padding: 60px 0;
    &__image{
      height: 476px;
      margin: auto;
    }
    &__content{
      max-width: 100%;
    }
    &__years-box{
      justify-content: center;
    }
    &__items{
      margin: 0 auto;
    }
  }
}

@media (max-width: 768px){
  .experience{
    padding: 60px 0;
    &__image{
      height: 476px;
      margin: auto;
    }
  }
}

@media (max-width: 650px){
  .experience{
    &__image{
      height: 400px;
    }
    &__years-box{
      margin-bottom: 40px;
    }
    &__years{
      font-size: 100px;
    }
    &__years-text{
      justify-content: center;
    }
    &__title{
      margin-bottom: 40px;
      font-size: 30px;
      line-height: 36px;
    }
    &__text{
      margin-bottom: 50px;
    }
    &__items{
      display: block;
    }
    &__item{
      margin-bottom: 30px;
    }
    &__item--line::after{
      display: none;
    }
  }
}

@media (max-width: 420px){
  .experience{
    &__image{
      height: 350px;
    }
  }
}


