
.account{
  padding: 120px 0;
  max-width: 470px;
  margin: 0 auto;
  &__label{
    font-size: 14px;
    color: #436372;
  }
  &__input{
    width: 100%;
    height: 60px;
    border: 2px solid #f6f6f6;
    display: block;
    @extend %rubik-400;
    margin-bottom: 25px;
  }
  &__login-btn{
    font-size: 18px;
    @extend %rubik-500;
    margin: 33px 0;
    display: block;
    width: 100%;
    height: 60px;
    background-color: #a3bbc8;
    color: #fff;
    border: 2px solid #a3bbc8;
    padding: 0;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
    &:hover{
      background-color: #fff;
      color: #243f4d;
    }
  }
  &__remember-box{
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
    border-bottom: 2px solid #f6f6f6;
    margin-bottom: 30px;
  }
  &__link-problem{
    text-align: center;
    display: block;
  }
  &__label-link,
  &__link-problem{
    color: inherit;
  }
  &__btn{
    display: block;
    width: 100%;
    height: 60px;
    background-color: transparent;
    color: #243f4d;
    border: 2px solid #a3bbc8;
    font-size: 18px;
    @extend %rubik-500;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
    &:hover{
      border: 2px solid #a3bbc8;
      color: #fff;
      background-color: #a3bbc8;
    }
  }
}