
.header{
  padding: 49px 0;
  &__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center
  }
}

.menu{
  &__btn{
    display: none;
  }
  &__list{
    display: flex;
  }
  &__list-item + .menu__list-item{
    padding-left: 31px;
  }
  &__list-link{
    color: inherit;
    cursor: pointer;
    font-size: 15px;
    line-height: 12px;
    padding-bottom: 4px;
    border-bottom: 1px solid transparent;
    &:hover{
      border-bottom: 1px solid $default;
    }

  }
}

.user-nav{
  display: flex;
  align-items: center;
  &__link{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__image{
    width: 20px;
    height: 20px;
  }
  &__inner{
    padding: 0 10px;
    margin: 0 20px;
    display: flex;
    justify-content: space-around;
    height: 51px;
    width: 178px;
    background-color: #fcd7b6;
    border-radius: 25.5px;
    position: relative;
    &::after{
      content: "";
      position: absolute;
      top: 9.5px;
      right: 89px;
      width: 1px;
      height: 32px;
      background-color: #ececec;
    }
  }
  &__number{
    position: absolute;
    background-color: #fff;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    top: 7px;
    right: -7px;
    text-align: center;
    font-size: 10px;
    line-height: 16px;
    color: $title;
    @extend %roboto-400;
  }
  &__link--more,
  &__link--search{
    width: 51px;
    height: 51px;
    border-radius: 50%
  }
  &__link--search{
    background-color: #edf1f4;
  }
  &__link--more{
    background-color: #a3bbc8;
  } 
}

@media (max-width: 1050px){
  .menu{
    order: 1;
    &__list{
      transform: translateY(-200%);
      position: absolute;
      top: 140px;
      width: 100%;
      left: 0;
      right: 0;
      text-align: center;
      flex-direction: column;
      background-color: #fff;
      transition: all 0.5s;
      z-index: 5;
      &.menu__list--active{
        transform: translateY(0%);
        transition: all 0.5s;
      }
    }
    &__list-item + .menu__list-item{
      padding-left: 15px;
    }
    &__list-item{
      width: 100%;
      padding: 0 15px;
      text-align: center;
    }
    &__list-link{
      padding: 15px 0;
      display: block;
    }
    &__btn{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: none;
      background-color: #a3bbc8;
      position: relative;
      padding: 0;
      cursor: pointer;
      span{
        background-color: #fff;
        height: 2px;
        width: 25px;
      }
      &::before,
      &::after{
        content: "";
        position: absolute;
        height: 2px;
        width: 25px;
        background-color: #fff;
      }
      &::before{
        top: 16px;
      }
      &::after{
        bottom: 16px;
      }
    }
  }
  .user-nav{
    padding-right: 20px;
    margin-left: auto;
  }
}

@media (max-width: 650px){
  .header{
    &__wrapper{
      flex-wrap: wrap;
    }
  }
  .menu{
    order: 0;
    &__list{
      top: 210px;
    }
  }
  .user-nav{
    margin-top: 30px;
    width: 100%;
    justify-content: flex-end;
    padding-right: 0;
  }
}


@media (max-width: 420px){
  .user-nav{
    &__inner{
      margin: 0 10px;
      width: 164px;
      &::after{
        right: 82px;
      }
    }
  }
}

