<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/about-us.min.css">
</head>

<body>

  {% include 'app/module/_header/_header.html' %}

  <main class="main">

    <section class="top">
      <div class="container">
        <h2 class="top__title">
          About Us
        </h2>
        <div class="breadcrumps">
          <ul class="breadcrumps__list">
            <li class="breadcrumps__item">
              <a class="breadcrumps__link" href="#">
                Home
              </a>
            </li>
            <li class="breadcrumps__item">
              <a class="breadcrumps__link" href="#">
                About Us
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section class="experience">
      <div class="container">
        <div class="experience__inner">
          <div class="experience__image-box">
            <img class="experience__image" src="images/page-about-us/experience-bg.jpg" alt="experience image">
          </div>
          <div class="experience__content">
            <div class="experience__years-box">
              <span class="experience__years">12</span>
              <p class="experience__years-text">
                Years
                Experience
                Working
              </p>
            </div>
            <h2 class="experience__title">
              Mission of our creative house
            </h2>
            <p class="experience__text">
              consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
              ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
              aute irure dolor in reprehenderit in voluptate velit esse cillum
            </p>
            <div class="experience__items">
              <div class="experience__item experience__item--line">
                <img src="images/page-about-us/project.svg" alt="project">
                <div class="experience__number experience__number-project">
                  520+
                  <span>Projects</span>
                </div>
              </div>
              <div class="experience__item experience__item--line">
                <img src="images/page-about-us/shout.svg" alt="shout">
                <div class="experience__number">
                  $4M
                  <span>Revenue</span>
                </div>
              </div>
              <div class="experience__item">
                <img src="images/page-about-us/award.svg" alt="award">
                <div class="experience__number">
                  250
                  <span>Awards</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="about">
      <div class="container">
        <div class="about__inner">
          <div class="about__item">
            <img src="images/page-about-us/icons/1.svg" alt="icone 1">
            <div class="about__number">
              99%
              <p class="about__number-text">
                Satisﬁed Clients Rate
              </p>
            </div>
          </div>
          <div class="about__item">
            <img src="images/page-about-us/icons/2.svg" alt="icone 1">
            <div class="about__number">
              5020+
              <p class="about__number-text">
                Products Delivered
              </p>
            </div>
          </div>
          <div class="about__item">
            <img src="images/page-about-us/icons/3.svg" alt="icone 1">
            <div class="about__number">
              23hr
              <p class="about__number-text">
                Daily Working Time
              </p>
            </div>
          </div>
          <div class="about__item">
            <img src="images/page-about-us/icons/4.svg" alt="icone 1">
            <div class="about__number">
              140+
              <p class="about__number-text">
                Brands in Store
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="our-team">
      <div class="container">
        <div class="our-team__inner">
          <div class="our-team__content">
            <h2 class="our-team__title title">
              Our Team
            </h2>
            <p class="our-team__text">
              Lorem ipsum dolor sit amet, conse ctetur adipi sicing elit, sed do eiusmod tempor inciLorem ipsum dolor
              sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat.
            </p>
            <button class="our-team__btn">
              Join With US
            </button>
          </div>
          <div class="our-team__items">
            <div class="our-team__item">
              <div class="our-team__image-box">
                <img class="our-team__image" src="images/page-about-us/team/1.jpg" alt="team 1">
              </div>
              <div class="our-team__about-box">
                <div class="our-team__info">
                  <p class="our-team__name">
                    Eliza Elliot
                  </p>
                  <p class="our-team__profesion">
                    Commodo tempor
                  </p>
                </div>
                <div class="our-team__contacts">
                  <a class="our-team__contacts-link" href="#">
                    <img src="images/page-about-us/icons/instagram.svg" alt="instagram">
                  </a>
                  <a class="our-team__contacts-link" href="#">
                    <img src="images/page-about-us/icons/google+.svg" alt="google+">
                  </a>
                </div>
              </div>
            </div>
            <div class="our-team__item">
              <div class="our-team__image-box">
                <img class="our-team__image" src="images/page-about-us/team/2.jpg" alt="team 1">
              </div>
              <div class="our-team__about-box">
                <div class="our-team__info">
                  <p class="our-team__name">
                    Roscoe A.
                  </p>
                  <p class="our-team__profesion">
                    Commodo tempor
                  </p>
                </div>
                <div class="our-team__contacts">
                  <a class="our-team__contacts-link" href="#">
                    <img src="images/page-about-us/icons/instagram.svg" alt="instagram">
                  </a>
                  <a class="our-team__contacts-link" href="#">
                    <img src="images/page-about-us/icons/google+.svg" alt="google+">
                  </a>
                </div>
              </div>
            </div>
            <div class="our-team__item">
              <div class="our-team__image-box">
                <img class="our-team__image" src="images/page-about-us/team/3.jpg" alt="team 1">
              </div>
              <div class="our-team__about-box">
                <div class="our-team__info">
                  <p class="our-team__name">
                    Ruby M.
                  </p>
                  <p class="our-team__profesion">
                    Commodo tempor
                  </p>
                </div>
                <div class="our-team__contacts">
                  <a class="our-team__contacts-link" href="#">
                    <img src="images/page-about-us/icons/instagram.svg" alt="instagram">
                  </a>
                  <a class="our-team__contacts-link" href="#">
                    <img src="images/page-about-us/icons/google+.svg" alt="google+">
                  </a>
                </div>
              </div>
            </div>
            <div class="our-team__item">
              <div class="our-team__image-box">
                <img class="our-team__image" src="images/page-about-us/team/4.jpg" alt="team 1">
              </div>
              <div class="our-team__about-box">
                <div class="our-team__info">
                  <p class="our-team__name">
                    Marie F. Bloss
                  </p>
                  <p class="our-team__profesion">
                    Commodo tempor
                  </p>
                </div>
                <div class="our-team__contacts">
                  <a class="our-team__contacts-link" href="#">
                    <img src="images/page-about-us/icons/instagram.svg" alt="instagram">
                  </a>
                  <a class="our-team__contacts-link" href="#">
                    <img src="images/page-about-us/icons/google+.svg" alt="google+">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="blog">
      <div class="container">
        <div class="blog__top">
          <h2 class="title">Our Insights & Articles</h2>
          <a class="blog__top-link" href="#">View All</a>
        </div>
        <div class="blog__items">
          <div class="blog__item">
            <img class="blog__item-image" src="images/blog/1.jpg" alt="blog image">
            <div class="blog__news">NEWS</div>
            <div class="blog-content">
              <div class="blog-content__text-box">
                <a class="blog-content__text" href="#">
                  Diusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                </a>
              </div>
              <div class="blog-added">
                <div class="blog-added__date">28 JANUARY, 2020</div>
                <a class="blog-added-by" href="#">BY ADMIN</a>
              </div>
            </div>
          </div>
          <div class="blog__item">
            <img class="blog__item-image" src="images/blog/1.jpg" alt="blog image">
            <div class="blog__news">NEWS</div>
            <div class="blog-content">
              <div class="blog-content__text-box">
                <a class="blog-content__text" href="#">
                  Aonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                </a>
              </div>
              <div class="blog-added">
                <div class="blog-added__date">28 JANUARY, 2020</div>
                <a class="blog-added-by" href="#">BY ADMIN</a>
              </div>
            </div>
          </div>
          <div class="blog__item">
            <img class="blog__item-image" src="images/blog/1.jpg" alt="blog image">
            <div class="blog__news">NEWS</div>
            <div class="blog-content">
              <div class="blog-content__text-box">
                <a class="blog-content__text" href="#">
                  Rncididunt ut labore et dolore magna aliqua. Ut enim
                </a>
              </div>
              <div class="blog-added">
                <div class="blog-added__date">28 JANUARY, 2020</div>
                <a class="blog-added-by" href="#">BY ADMIN</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="blog__wrapper">
        <div class="container">
          <div class="blog__partners">
            <img src="images/partners/1.png" alt="partner">
            <img src="images/partners/2.png" alt="partner">
            <img src="images/partners/3.png" alt="partner">
            <img src="images/partners/4.png" alt="partner">
            <img src="images/partners/5.png" alt="partner">
          </div>
        </div>
      </div>
    </section>

  </main>

  {% include 'app/module/_footer/_footer.html' %}

  <script src="js/main.min.js"></script>
</body>

</html>