<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/about-us.min.css">
</head>

<body>

  {% include 'app/module/_header/_header.html' %}

  <main class="main">

    <section class="top">
      <div class="container">
        <h2 class="top__title">
          About Us
        </h2>
        <div class="breadcrumps">
          <ul class="breadcrumps__list">
            <li class="breadcrumps__item">
              <a class="breadcrumps__link" href="#">
                Home
              </a>
            </li>
            <li class="breadcrumps__item">
              <a class="breadcrumps__link" href="#">
                About Us
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>

    {% include 'app/module/_about-us/_experience/_experience.html' %}

    {% include 'app/module/_about-us/_about/_about.html' %} 

    {% include 'app/module/_about-us/_our-team/_our-team.html' %} 

    {% include 'app/module/_blog/_blog.html' %}

  </main>

  {% include 'app/module/_footer/_footer.html' %}

  <script src="js/main.min.js"></script>
</body>

</html>