<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/login-page.min.css">
  <title>Document</title>
</head>
<body>

  {% include 'app/module/_header/_header.html' %}
  
  <main class="main">

      <section class="top">
      <div class="container">
        <h2 class="top__title">
          Log In
        </h2>
        <div class="breadcrumps">
          <ul class="breadcrumps__list">
            <li class="breadcrumps__item">
              <a class="breadcrumps__link" href="#">
                Home
              </a>
            </li>
            <li class="breadcrumps__item">
              <a class="breadcrumps__link" href="#">
                Log In
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>

    {% include 'app/module/_login-page/_account.html' %}

    {% include 'app/module/_blog/_blog--small.html' %}

  </main>

  {% include 'app/module/_footer/_footer.html' %} 

</body>
</html>