<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/terms-conditions.min.css">
</head>

<body>

  {% include 'app/module/_header/_header.html' %}

  <main class="main">

    <section class="top">
      <div class="container">
        <h2 class="top__title">
          Terms & Conditions
        </h2>
        <div class="breadcrumps">
          <ul class="breadcrumps__list">
            <li class="breadcrumps__item">
              <a class="breadcrumps__link" href="#">
                Home
              </a>
            </li>
            <li class="breadcrumps__item">
              <a class="breadcrumps__link" href="#">
                Terms & Conditions
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section class="terms-content">
      <div class="container">
        <h4 class="terms-content__title">
          Types of Personal Information We Collect
        </h4>
        <ol class="terms-content__list">
          <li class="terms-content__item">
            Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
            minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore
          </li>
          <li class="terms-content__item">
            Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
            minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore
          </li>
          <li class="terms-content__item">
            Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </li>
          <li class="terms-content__item">
            Dagna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat.
          </li>
          <li class="terms-content__item">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          </li>
        </ol>
        <h4 class="terms-content__title">
          How marketpmss.com Collects Personal Infonnation
        </h4>
        <p class="terms-content__text">
          consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
          irure dolor in reprehenderit in voluptate velit esse cillum dolore
        </p>
        <h4 class="terms-content__title">
          How marketprosscom Uses Personal Information
        </h4>
        <p class="terms-content__text">
          consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
          irure dolor in reprehenderit in voluptate velit esse cillum dolore
        </p>
      </div>

    </section>

    <section class="blog">
      <div class="container">
        <div class="blog__top">
          <h2 class="title">Our Insights & Articles</h2>
          <a class="blog__top-link" href="#">View All</a>
        </div>
        <div class="blog__items">
          <div class="blog__item">
            <img class="blog__item-image" src="images/blog/1.jpg" alt="blog image">
            <div class="blog__news">NEWS</div>
            <div class="blog-content">
              <div class="blog-content__text-box">
                <a class="blog-content__text" href="#">
                  Diusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                </a>
              </div>
              <div class="blog-added">
                <div class="blog-added__date">28 JANUARY, 2020</div>
                <a class="blog-added-by" href="#">BY ADMIN</a>
              </div>
            </div>
          </div>
          <div class="blog__item">
            <img class="blog__item-image" src="images/blog/1.jpg" alt="blog image">
            <div class="blog__news">NEWS</div>
            <div class="blog-content">
              <div class="blog-content__text-box">
                <a class="blog-content__text" href="#">
                  Aonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                </a>
              </div>
              <div class="blog-added">
                <div class="blog-added__date">28 JANUARY, 2020</div>
                <a class="blog-added-by" href="#">BY ADMIN</a>
              </div>
            </div>
          </div>
          <div class="blog__item">
            <img class="blog__item-image" src="images/blog/1.jpg" alt="blog image">
            <div class="blog__news">NEWS</div>
            <div class="blog-content">
              <div class="blog-content__text-box">
                <a class="blog-content__text" href="#">
                  Rncididunt ut labore et dolore magna aliqua. Ut enim
                </a>
              </div>
              <div class="blog-added">
                <div class="blog-added__date">28 JANUARY, 2020</div>
                <a class="blog-added-by" href="#">BY ADMIN</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="blog__wrapper">
        <div class="container">
          <div class="blog__partners">
            <img src="images/partners/1.png" alt="partner">
            <img src="images/partners/2.png" alt="partner">
            <img src="images/partners/3.png" alt="partner">
            <img src="images/partners/4.png" alt="partner">
            <img src="images/partners/5.png" alt="partner">
          </div>
        </div>
      </div>
    </section>

  </main>

  {% include 'app/module/_footer/_footer.html' %}

  <script src="js/main.min.js"></script>
</body>

</html>