
.products{
  padding: 70px 0 50px;
  &__title{
    text-align: center;
    margin-bottom: 32px;
  }
  &__filter{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
  }
  &__filter-btn{
    font-size: 16px;
    @extend %dmsans-700;
    color: #8b8b8b;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  &__filter-btn + .products__filter-btn{
    margin-left: 26px;
  }
  .mixitup-control-active{
    color: #191919;
  }
  &__content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1f);
    grid-column-gap: 30px;
    grid-row-gap: 40px;
  }
  &__item{
    padding: 0 20px;
    border-radius: 10px;
    position: relative;
    width: 270px;
    height: 380px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    &:hover .products__item-hover{
      opacity: 1;
    }
    // produt__item--list setup starts (product-list2.html)
    &.product__item--list{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    text-align: left;
    height: 500px;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
    .products__item{
       padding: 0;
      border-radius: 0;
      box-shadow: none;
    }
    .products__item-link{
      border-radius: 0;
      &:first-child{
        display: none;
      }
      &:nth-child(2){
        background-color: #a3bac7;
        path{
          fill: #fff;
        }
      }
    }
    .products__item-hover{
      width: 120px;
      opacity: 1;
      top: 388px;
      left: 100px;
    }
    &:hover{
      .products__item-hover{
        opacity: 0;
      }
      .product-item__btn{
        opacity: 1;
      }
    }
      .products__item-image__inner{
        max-width: 370px;
        width: 100%;
        border: 2px solid #f2f2f2;
        min-height: 0;
        height: 500px;
        margin-bottom: 0;
        margin-top: 0;
        justify-content: center;
        padding: 20px 35px;
      }
      .product-item__wrapper-box{
        margin-left: 50px;
        max-width: 415px;
      }
      .product-item__content-box{
        display: block;
      }
      .big-star{
        display: block;
      }
      .products__item-box{
        text-align: left;
      }
      .product__content{
        grid-row-gap: 100px;
      }
      .products__item-name{
        font-size: 40px;
        line-height: 40px;
        color: #333333;
        @extend %rubik-400;
      }
      .products__item-price{
        font-size: 30px;
        line-height: 30px;
        color: #333333;
        @extend %rubik-400;
        margin: 30px 0;
      }
      .product-item__text{
        color: #243f4d;
        @extend %rubik-400;
        font-size: 16px;
        margin-bottom: 30px;
      }
      .product-item__btn{
        text-transform: uppercase;
        font-size: 15px;
        color: #fff;
        @extend %rubik-400;
        background-color: #a3bbc8;
        cursor: pointer;
        border: none;
        padding: 13px 53px 13px 53px;
        border-radius: 5px;
        opacity: 0;
        transition: all 0.5s;
      }
    }
    // produt__item--list setup ends
  }
  &__item-image__inner{
    margin-top: 25px;
    min-height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 55px;
    object-fit: cover;
  }
  &__item-hover{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    width: 195px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transition: all 0.5s;
  }
  &__item-box{
    text-align: center;
  }
  &__item-link{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #a3bbc8;
    transition: all 0.5s;
    path{
      fill: #a3bbc8;
    }
    &:hover{
      background-color: #a3bbc8;
      path{
        transition: all 0.5s;
        fill: #fff;
      }
    }
  }
  &__item-name{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
    color: $title;
    @extend %dmsans-500;
  }
  &__item-price{
    font-size: 16px;
    line-height: 24px;
    color: #a3bbc8;
    @extend %dmsans-700;
  }
}

.more-products{
  padding-top: 186px;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    max-width: 870px;
    background-color: #feefe2;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    color: $blue;
    position: relative;
  }
  &__image-box{
    max-width: 300px;
    height: 405px;
    position: absolute;
    top: -100px;
    left: 110px;
  }
  &__image{
    object-fit: cover;
  }
  &__content{
    padding: 100px 152px 85px 10px;
  }
  &__title{
    font-size: 26px;
    line-height: 32px;
    @extend %dmsans-700;
    max-width: 248px;
    margin-bottom: 24px;
  }
  &__text{
    font-size: 16px;
    max-width: 345px;
    margin-bottom: 33px;
  }
  &__btn{
    background-color: transparent;
    border: 1px solid $default;
    border-radius: 5px;
    font-size: 15px;
    @extend %rubik-500;
    color: $default;
    padding: 21px 84px 22px 18px;
    position: relative;
    &::after{
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 20px;
      height: 9px;
      width: 21px;
      background-image: url('../images/arrow-right-blue.svg');
      background-repeat: no-repeat;
      background-size: cover;
    }
  } 
}

