
.top-slider{
  background-color: $orange;
  &__inner{
    padding-bottom: 46px;
  }
  &__content{
    max-width: 418px;
    padding-top: 220px;
    margin-left: 300px;
  }
  &__item-inner{
    display: flex;
    justify-content: space-between;
  }
  &__title{
    font-size: 70px;
    line-height: 70px;
    color: $title;
    margin-bottom: 36px;
  }
  &__text{
    font-size: 18px;
    line-height: 30px;
    @extend %rubik-400;
    margin-bottom: 40px;
  }
  &__btn{
    font-size: 15px;
    line-height: 15px;
    color: #fff;
    border: none;
    background-color: #a3bbc8;
    padding: 24px 101px 23px 27px;
    position: relative;
    cursor: pointer;
    &::after{
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 19px;
      height: 9px;
      width: 21px;
      background-image: url('../images/arrow-right.svg');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  &__image-box{
    margin-top: 70px;
    margin-right: 188px;
    min-height: 634px;
    background-image: url('../images/slider/top-slider-bg.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;
    display: flex;
    align-items: center; 
  }
  &__image{
    width: 640px;
    height: 264px;
    object-fit: cover;
    transform: translateX(-136px);
  }
  .slick-dots{
    display: flex;
    justify-content: center;
    margin-top: 12px;
    li{
      line-height: 1px;
      padding: 0 11px;
      button{
        width: 29px;
        height: 29px;
        border-radius: 50%;
        background-color: rgba(#fff, 0.3);
        border: none;
        @extend %rubik-500;
        font-size: 12px;
        color: $title;
        cursor: pointer;
        outline-color: #fff;
      }
      &.slick-active{
        button{
          background-color: rgba(#fff, 1);
          width: 30px;
          height: 30px;
        }       
      }
    }
  }
}

@media (max-width: 1750px){
  .top-slider{
    &__image-box{
      margin-right: 94px;
    }
    &__content{
      margin-left: 150px;
    }
  }
}

@media (max-width: 1550px){
  .top-slider{
    &__image-box{
      margin-right: 0;
    }
    &__image{
      transform: translateX(-100px);
    }
    &__content{
      margin-left: 15px;
    }
  }
}

@media (max-width: 1250px){
  .top-slider{
    &__image-box{
      margin-right: 0;
      background-size: contain;
    }
    &__image{
      transform: translateX(-25px);
      width: 500px;
      height: 206px;
    }
  }
}

@media (max-width: 1050px){
  .top-slider{
    &__image-box{
      margin-right: 0;
      background-size: contain;
      display: none;
    }
    &__content{
      padding-bottom: 50px;
      padding-top: 120px;
      max-width: 725px;
      margin-left: 0;
    }
    &__title{
      font-size: 60px;
      line-height: 60px;
      margin-bottom: 25px;
    }
    &__text{
      margin-bottom: 25px;
    }
  }
}

@media (max-width: 768px){
  .top-slider{
    &__title{
      font-size: 50px;
      line-height: 50px;
    }
  }
}

@media (max-width: 420px){
  .top-slider{
    &__title{
      font-size: 40px;
      line-height: 40px;
    }
    &__content{
      padding-top: 70px;
    }
  }
}