
.blog{
  padding-top: 113px;
  &__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }
  &__top-link{
    font-size: 16px;
    @extend %dmsans-700;
    color: #262626;
    position: relative;
    padding-right: 25px;
    &::after{
      content: "";
      position: absolute;
      background-image: url('../images/right.svg');
      background-repeat: no-repeat;
      background-size: cover;
      width: 6px;
      height: 11px;
      right: 0;
      top: 6px;
    }
  }
  &__items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-bottom: -190px;
  }
  &__item{
    width: 370px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    position: relative;
    background-color: #fff;
  } 
  &__item-image{
    object-fit: cover;
    height: 250px;
  }
  &__news{
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    background-color: #a3bbc8;
    text-transform: uppercase;
    @extend %poppins-700;
    position: absolute;
    padding: 8px 30px;
    border-radius: 18px;
    top: 230px;
    left: 28px;    
  }
  &-content{
    padding: 34px 27px 26px;
  }
  &-content__text-box{
    margin-bottom: 15px;
    min-height: 72px;
  }
  &-content__text{
    font-size: 18px;
    color: #262626;
    @extend %dmsans-500;
    display: block;
  }
  &-added{
    border-top: 1px solid #e0e0e0;
    padding-top: 21px;
    display: flex;
    justify-content: flex-start;
  }
  &-added__date,
  &-added-by{
    font-size: 12px;
    line-height: 22px;
    color: #222933;
    @extend %rubik-400;
    text-transform: uppercase;
  }
  &-added-by{
    margin-left: 39px;
  }
  &__wrapper{
    padding-top: 170px;
    background-color: #fef7f0;
    max-width: 1920px;
    margin: 0 auto;
  }
  &__partners{
    padding: 115px 0 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.product-list{
  .blog__wrapper{
    padding-top: 0;
  }
  .blog{
    padding-top: 0;
  }
}

@media (max-width: 1250px){
  .blog{
    &__items{
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 30px;
      margin-bottom: 0;
    }
    &__item{
      margin: 0 auto;
    }
    &__wrapper{
      padding-top: 0;
      margin-top: 30px;
    }
    &__partners{
      padding: 90px 0;
      flex-wrap: wrap;
      justify-content: center;
      img{
        margin: 20px 30px;
      }
    }
  }
}

@media (max-width: 850px){
  .blog{
    &__top{
      display: block;
    }
    &__top-link{
      display: inline-block;
      margin-top: 30px;
      margin-left: auto;
    }
    &__items{
      grid-template-columns: repeat(1, 1fr);
    }
    &__partners{
      padding: 70px 0;
    }
  }
}

@media (max-width: 420px){
  .blog{
    &__item{
      max-width: 370px;
      width: 100%;
    }
    &-content{
      padding: 34px 15px 15px;
    }
    &__partners{
      padding: 45px 0;
    }
  }   
}
